:root {
  --page-width: 95%;
  --color-primary: #5C6BC0;
  --color-primary-dark: #3949AB;
  --color-accent: #009688;
  --color-accent-dark: #00796B;
  --color-text: #707070;
  --color-text-dark: #565656;
  --color-github: #26A69A;
  --color-github-dark: #00897B;
  --color-web: #9575CD;
  --color-web-dark: #673AB7;
  --color-app: #7986CB;
  --color-app-dark: #3F51B5;
  --color-youtube: #FF7043;
  --color-youtube-dark: #F4511E;
}

html {
  scroll-behavior: smooth;

}

body {
  padding: 0;
  margin: 0;
  text-align: center;
}

.container {
  width: var(--page-width);
  margin: auto;
}

.topnav {
  overflow: hidden;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 600;
  line-height: 14px;
  margin-top: 15px;
}
.topnav .home {
  float: left;
  color: var(--color-text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .navItem {
  float: right;
  color: var(--color-text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav .navItem:hover {
  color: var(--color-primary);
}

.topnav .github {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--color-accent);
  color: rgba(255, 255, 255, 200);
  font-weight: 600;
  border-radius: 5px;
}

.topnav .github:hover {
  background-color: var(--color-accent-dark);
  color: rgba(255, 255, 255, 255);
}

.sketch {
  display: block;
  transform: rotate(180deg);
  width: 100%;
  min-width: 600px;
  height: 400px;
  text-align: center;
  cursor: pointer;
}

.quote {
  font-family: 'Roboto', 'sans-serif';
  text-align: center;
  color: #606060;
  font-size: 1.2em;
  padding-left: 17%;
  padding-right: 17%;
  font-weight: 500;
  margin-bottom: 30px;
}

.quote p {
  margin: 0;
  padding: 0;
}

.button_div {
  padding: 10px;
  text-align: center;
}

.button_div .git_button {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  text-decoration: none;
  font-size: 1.1em;
  padding-top: 11px;
  padding-bottom: 11px;
  white-space: nowrap;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
}

.button_div .contact_button {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  text-decoration: none;
  font-size: 1.1em;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 10px;
  white-space: nowrap;
  background-color: rgba(239, 83, 80, 1);
  color: rgba(255, 255, 255, 200);
  color: #EF5350;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
}

.button_div .git_button:hover {
  background-color: var(--color-accent);
  color: rgba(255, 255, 255, 255);
}

.button_div .contact_button:hover {
  background-color: #F44336;
  color: rgba(255, 255, 255, 255);
}

.projects_1 {
  display: flex;
  margin-top: 70px;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: center;
}

.projects_2 {
  display: flex;
  margin-top: 70px;
  margin-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: center;
}

.box {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
  border: 1px solid rgba(70, 70, 70, 0.3);
  border-radius: 4px;
}

.box img {
  width: 100%
}

.box h3 {
  font-family: 'Roboto';
  font-size: 1.7rem;
  font-weight: 400;
}

.box h3 a {
  text-decoration: none;
  color: var(--color-primary);
}

.box h3 a:hover {
  color: var(--color-primary-dark);
}

.box p {
  font-family: 'Roboto';
  font-size: 1.1rem;
  color: var(--color-text-dark);
  padding-bottom: 10px;
}

.box .youtube_button {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  text-decoration: none;
  font-size: 1.1em;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: var(--color-youtube);
  color: rgba(255, 255, 255, 200);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  white-space: nowrap;
}

.youtube_button:hover {
  background-color: var(--color-youtube-dark);
  color: #ffffff;
}

.box .github_button {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  text-decoration: none;
  font-size: 1.1em;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: var(--color-github);
  color: rgba(255, 255, 255, 200);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  white-space: nowrap;
}

.github_button:hover {
  background-color: var(--color-github-dark);
  color: #ffffff;
}

.box .web_button {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  text-decoration: none;
  font-size: 1.1em;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: var(--color-web);
  color: rgba(255, 255, 255, 200);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  white-space: nowrap;
}

.web_button:hover {
  background-color: var(--color-web-dark);
  color: #ffffff;
}


.box .app_button {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  text-decoration: none;
  font-size: 1.1em;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: var(--color-app);
  color: rgba(255, 255, 255, 200);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  white-space: nowrap;
}

.app_button:hover {
  background-color: var(--color-app-dark);
  color: #ffffff;
}

.find_more {
  margin-bottom: 60px;
}

.more_button {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  text-decoration: none;
  font-size: 1.3em;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #424242;
  color: rgba(255, 255, 255, 200);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  white-space: nowrap;
}

.more_button img {
  width: 24px;
  vertical-align: middle;
  padding-left: 10px;
}

.more_button:hover {
  background-color: #212121;
  color: #ffffff;
}

.contacts {
  width: 100%;
  text-align: center;
}

.contacts h3 {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.3em;
  padding-left: 17%;
  padding-right: 17%;
  font-weight: 400;
  color: #707070;
  margin-bottom: 30px;
}

.fa {
  padding: 20px;
  width: 20px;
  height: 20px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

@media screen and (max-width: 800px) {
  :root {
    --page-width: 800px;
  }
}
