---
import BackToTop from '../components/BackToTop.astro';
import Bio from '../components/Bio.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Projects from '../components/Projects.astro';
import Publications from '../components/Publications.astro';
import Selector from '../components/Selector.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Atick Faisal - Portfolio">
    <Navbar />

    <main id="top" class="min-h-screen">
        <Hero />
        <Bio />
        <Selector />
        <Projects />
        <Publications />
        <BackToTop />
    </main>

    <Footer />
</Layout>
