---
import { Mail, Github, Linkedin, GraduationCap, Facebook } from 'lucide-astro';
---

<div class="header-card footer card bg-surface-light dark:bg-surface-dark">
    <h3 id="contacts" class="text-2xl md:text-3xl font-light text-text-light dark:text-text-dark mb-8">Contacts</h3>

    <div class="social">
        <a
            href="mailto:atickfaisal@gmail.com"
            class="btn btn-dark"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Email"
        >
            <Mail class="icon" />
        </a>

        <a
            href="https://github.com/atick-faisal/"
            class="btn btn-dark"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="GitHub"
        >
            <Github class="icon" />
        </a>

        <a
            href="https://www.linkedin.com/in/atick-faisal/"
            class="btn btn-dark"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
        >
            <Linkedin class="icon" />
        </a>

        <a
            href="https://scholar.google.com/citations?user=p4I3Sa0AAAAJ&hl=en"
            class="btn btn-dark"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Google Scholar"
        >
            <GraduationCap class="icon" />
        </a>

        <a
            href="https://www.facebook.com/atick.faisal/"
            class="btn btn-dark"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
        >
            <Facebook class="icon" />
        </a>
    </div>

    <br />

    <p class="text-center text-text-light dark:text-text-dark">
        Atick Faisal, {new Date().getFullYear()}
    </p>

    <a
        class="source-code"
        href="https://github.com/atick-faisal/atick.dev"
        target="_blank"
        rel="noopener noreferrer"
    >
        &lt; source code /&gt;
    </a>
</div>

<style>
    .header-card {
        width: 90%;
        display: flex;
        border-radius: 3rem;
        background-size: cover;
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        padding: 3rem;
    }

    .social {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .social .btn {
        margin: 1rem;
        padding: 0;
    }

    .social .icon {
        width: 2rem;
        height: 2rem;
        margin: 1rem;
    }

    .source-code {
        font-family: monospace;
        text-decoration: none;
        color: #512da8;
    }

    :global(.dark) .source-code {
        color: #b39ddb;
    }

    @media (min-width: 481px) {
        .footer {
            flex-direction: column;
        }

        .social {
            flex-direction: row;
        }
    }
</style>
