@use "sass:map";

$theme-colors: (
    "primary": #512da8,
    "primary-dark": #b39ddb,

    "primary-variant": #bbdefb,
    "primary-variant-dark": #7e57c2,

    "secondary": #ffca28,
    "secondary-dark": #ffb300,

    "secondary-variant": #fff8e1,
    "secondary-variant-dark": #ffca28,

    "warning": #ffa726,
    "warning-dark": #fb8c00,

    "danger": #c2185b,
    "danger-dark": #ad1457,

    "background": #fafafa,
    "background-dark": #2e3440,

    "surface": #e8eaf6,
    "surface-dark": #3b4252,

    "light": #e5e9f0,
    "lighter": #eceff4,

    "dark": #3b4252,
    "darker": #2e3440,
);

@import "~bootstrap/scss/bootstrap";

////////////////////////////////////////////////// Globals

body #light {
    background-color: map.get($theme-colors, "lighter");
    color: map.get($theme-colors, "darker");
}

body #dark {
    background-color: map.get($theme-colors, "darker");
    color: map.get($theme-colors, "lighter");
}

h1 #light {
    font-size: 2rem;
    font-weight: 300;
    color: map.get($theme-colors, "dark");
}

h1 #dark {
    color: map.get($theme-colors, "light");
}

h3 #light {
    font-size: 1.7rem;
    font-weight: 400;
    color: map.get($theme-colors, "dark");
}

h3 #dark {
    color: map.get($theme-colors, "light");
}

p #light {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: map.get($theme-colors, "darker");
}

p #dark {
    color: map.get($theme-colors, "lighter");
}

a #light {
    color: map.get($theme-colors, "dark");
}

a #dark {
    color: map.get($theme-colors, "light");
}

.btn {
    border-radius: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn .icon {
    padding: 0;
    vertical-align: middle;
}

.btn-github {
    color: #e5e9f0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    gap: 2rem;
}

.card {
    flex: 1;
    border-radius: 1.5rem;
    padding: 0;
}

#light .card-img {
    border-radius: 1.4rem;
}

#dark .card-img {
    border-radius: 1.4rem;
    filter: brightness(95%);
}

.card-body {
    padding: 2rem;
}

.header-card {
    width: 90%;
    display: flex;
    border-radius: 3rem;
    background-size: cover;
    flex-direction: column;
}

.header-card .description {
    flex: 3;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header-card .image {
    flex: 1;
    max-width: 100%;
    border-radius: 3rem;
}

.flip {
    transform: scaleX(-1);
}

////////////////////////////////////////////////// NavBar

.navbar-nav .btn {
    margin: 0;
    padding: 0;
}

#light .nav-btn-icon {
    color: map.get($theme-colors, "dark");
}

#dark .nav-btn-icon {
    color: map.get($theme-colors, "light");
}

#light .nav-btn-txt {
    display: none;
    color: map.get($theme-colors, "dark");
}

#dark .nav-btn-txt {
    display: none;
    color: map.get($theme-colors, "light");
}

#light .github {
    color: #fafafa;
}

#light .github {
    color: #fafafa;
}

.navbar-nav {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.navbar-nav .dark-mode-toggle {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

////////////////////////////////////////////////// Banner

.banner {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: oblique;
    text-align: center;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
}

////////////////////////////////////////////////// Bio

.bio {
    margin-top: 3rem;
    // background-image: url("../assets/bio-bg-dark.jpg");
}

////////////////////////////////////////////////// Selector

.selector {
    width: 90%;
    margin-top: 3rem;
}

.selector .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

////////////////////////////////////////////////// Items

.row {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

////////////////////////////////////////////////// Projects Header

.project-header {
    background-image: url("../assets/project-header.jpg");
}

////////////////////////////////////////////////// Publications Header

.publication-header {
    background-image: url("../assets/publication-header-dark.jpg");
}

////////////////////////////////////////////////// Footer

.footer {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 3rem;
}

.footer .name {
    font-size: 3rem;
    font-weight: 100;
}

.social {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social .btn {
    margin: 1rem;
    padding: 0;
}

.social .icon {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

#light .source-code {
    font-family: monospace;
    text-decoration: none;
    color: map.get($theme-colors, "primary");
}

#dark .source-code {
    font-family: monospace;
    text-decoration: none;
    color: map.get($theme-colors, "primary-dark");
}

@media (min-width: 481px) {
    h1 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.3rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    #light .nav-btn-txt {
        display: contents;
    }

    #dark .nav-btn-txt {
        display: contents;
    }

    .navbar-nav .btn {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    .navbar-nav .dark-mode-toggle {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header-card {
        flex-direction: row;
    }

    .header-card .description {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .banner {
        width: 70%;
    }

    .actions {
        flex-direction: row;
    }

    .selector .items {
        flex-direction: row;
    }

    .row {
        flex-direction: row;
    }

    .footer {
        flex-direction: column;
    }

    .social {
        flex-direction: row;
    }
}
