$theme-colors: (
    "primary": #3f51b5,
    "primary-variant": #bbdefb,
    "secondary": #ffca28,
    "secondary-variant": #fff8e1,
    "warning": #ffa726,
    "danger": #c2185b,
    "background": #fafafa,
    "surface": #e8eaf6,
    "light": #e5e9f0,
    "lighter": #eceff4,
    "dark": #3b4252,
    "darker": #2e3440,
);

@import "~bootstrap/scss/bootstrap";

////////////////////////////////////////////////// Globals

h1 {
    font-size: 3.2rem;
    font-weight: 300;
    color: #3b4252;
}

p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 150%;
    color: #2e3440;
}

.btn {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn .icon {
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    vertical-align: middle;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    gap: 2rem;
}

.card {
    flex: 1;
    border-radius: 1.5rem;
    padding: 0;
}

.card-img {
    border-radius: 1.4rem;
}

.card-body {
    padding: 2rem;
}

.header-card {
    width: 90%;
    display: flex;
    border-radius: 3rem;
    background-size: cover;
}

.header-card .description {
    flex: 3;
    padding: 3rem;
}

.header-card .image {
    max-width: 80vw;
    flex: 1;
}

.flip {
    transform: scaleX(-1);
}

////////////////////////////////////////////////// Banner

.banner {
    width: 70%;
    height: 700px;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: oblique;
    text-align: center;
}

////////////////////////////////////////////////// Bio

.bio {
    margin-top: 3rem;
    background-image: url("../assets/bio-bg.jpg");
}

////////////////////////////////////////////////// Selector

.selector {
    width: 90%;
    margin-top: 3rem;
}

.selector .items {
    display: flex;
    justify-content: center;
}

////////////////////////////////////////////////// Items

.row {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

////////////////////////////////////////////////// Projects Header

.project-header {
    background-image: url("../assets/project-header.jpg");
}

////////////////////////////////////////////////// Publications Header

.publication-header {
    background-image: url("../assets/publication-header-alt.jpg");
}

.publication-header .description {
    flex: none;
    width: 60%;
}

////////////////////////////////////////////////// Footer

.footer {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 3rem;
}

.footer .name {
    font-size: 3rem;
    font-weight: 100;
}

.social {
    display: flex;
    justify-content: center;
}

.social .btn {
    margin: 1rem;
    padding: 0;
}

.social .icon {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

// /* width */
// ::-webkit-scrollbar {
//     width: 2px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background: #2e3440;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: #2e3440;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #555;
// }
