$theme-colors: (
    "primary": #3f51b5,
    "secondary": #e8eaf6,
    "warning": #ffccbc,
    "danger": #c2185b,
    "dark": #2e3440,
    "background": #424242,
    "text": #999999,
    "download": #ff8a65,
    "use": #ffc107,
);

@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Roboto";
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.banner {
    width: 70%;
    height: 700px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    // background-image: url("../assets/banner-bg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: large;
    font-style: oblique;
    text-align: center;
    color: #2e3440;
}

.nav-btn {
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn {
    border-radius: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon-btn {
    margin: 0.2rem;
    padding-left: 0.7rem;
}

.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn .icon {
    margin-right: 1rem;
    vertical-align: middle;
}

.spacer {
    width: 1rem;
}

.container {
    padding-bottom: 200px;
    gap: 2rem;
}

.row {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    // margin-top: 3rem;
    // margin-bottom: 3rem;
}

.card {
    flex: 1;
    border-radius: 1.5rem;
    padding: 0;
}

.card-img {
    border-radius: 1.4rem;
}

.card-body {
    padding: 2rem;
}

// /* width */
// ::-webkit-scrollbar {
//     width: 2px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background: #2e3440;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: #2e3440;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #555;
// }
